
{% include 'base.html' %}
{% load staticfiles %}
<title> {% block head_title %} Disease|UVic MRMAssayDB {% endblock %} </title>
{% block content %}

	<link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/select.dataTables.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/buttons.dataTables.min.css' %}" rel="stylesheet">    
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/navbar-fixed-top.css' %}" rel="stylesheet">
	<!-- <link href="{% static 'css/main.css' %}" rel="stylesheet"> -->
	<link href="http://ebi-uniprot.github.io/CDN/protvista/css/main.css" rel="stylesheet"/>

	<script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/dataTables.select.min.js' %}"></script>
	<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'js/vfs_fonts.js' %}"></script>
	<script src="{% static 'js/buttons.html5.min.js' %}"></script>

	<style type="text/css">
		/* Style the tab */
		div.dataTables_wrapper {
		    margin-bottom: 3em;
		}

		body {font-family: Arial;}


		.tab {
		  overflow: hidden;
		  margin: 0;
		  padding: 0;
		  border: 1px solid #ccc;
		  background-color: #f1f1f1;
		}


		/* Style the links inside the list items */
		.tab button {
		  color: black;
		  float: left;
		  border: none;
		  outline: none;
		  cursor: pointer;
		  padding: 14px 16px;
		  transition: 0.3s;
		  font-size: 17px;
		}

		/* Change background color of links on hover */
		.tab button:hover {
		    background-color: #ddd;
		}

		/* Create an active/current tablink class */
		.tab button:focus, .active {
		    background-color: #ccc;
		}

		/* Style the tab content */
		.tabcontentdrug {
		  display: none;
		  padding: 6px 12px;
		  border: 1px solid #ccc;
		  border-top: none;
		}
		div[class*="tabcontentdrug"]:first-of-type {
		    display: block;
		}
	</style>
	<script type="text/javascript" charset="utf-8">
	  function openTabsDis(evt, tabName) {
	      var i, tabcontent, tablinks;
	      tabcontent = document.getElementsByClassName("tabcontentdrug");
	      for (i = 0; i < tabcontent.length; i++) {
	        tabcontent[i].style.display = "none";
	      }
	      tablinks = document.getElementsByClassName("tablinksdrug");
	      for (i = 0; i < tablinks.length; i++) {
	        tablinks[i].className = tablinks[i].className.replace(" active", "");
	      }
	      document.getElementById(tabName).style.display = "block";
	      evt.currentTarget.className += " active";
	  }
	</script>
	<div class="container-fluid">
		<div align="justify">
			{% if drugPresence > 0 %}
				<br/>
				<table width="50%">
					<thead>
						<tr>
							<th>UniProtKB Accession</th>
							<th>Protein</th>
							<th>Gene</th>
						</tr>
					</thead>
			 
					<tbody>
						<tr>
							<td> <a target="_blank" href="https://www.uniprot.org/uniprot/{{ uniprotkb }}">{{ uniprotkb }}</a> </td> 
							<td> {{ protname }} </td>
							<td> {{ genename }} </td>
						</tr>
					</tbody>
					<tr class="blank_row">
						<td colspan="3"></td>
					</tr>
				</table>

			    <br>
			    <ul class="tab">
			      <button class="tablinksdrug"  onclick="openTabsDis(event, 'uniDis')">Drug Association</button>
			    </ul>

			    <div id="uniDrug" class="tabcontentdrug">
			        <input id="myInputDrug" type="text" onkeyup="drugSearch()" placeholder="Search.." style="width: 20%;">
					<div id="drugBankInputData""></div>
					<div id="filterredDrugBankData""></div>
			    </div>

				<script type="text/javascript">
			      var self= this;
				  var drugBankData;
				  var drugBankInputDataArray;
				  var drugBankInputData;
				  var filterredDrugBankDatafilterredDrugBankData;
				  self.drugBankInputDataArray={{drugDataRaw|safe}};
				  self.drugBankData=self.drugBankInputDataArray.join('; ');

				  document.getElementById("drugBankInputData").innerHTML=self.drugBankData;

				  function drugSearch(){
			        const valueDrug = document.getElementById("myInputDrug").value.toString().toLowerCase();

			        if (valueDrug.trim().length > 0){
			          const textArrayDrug=self.drugBankInputDataArray;
			          let textContentDrug=[];
			          for(let i=0; i < textArrayDrug.length; i++){
			              const strDrug = textArrayDrug[i];
			              const divDrug=document.createElement('div');
			              divDrug.innerHTML=strDrug;
			              if (textArrayDrug[i] == 'NA'){
			              	textContentDrug.push(textArrayDrug[i]);
			              } else{
			              	textContentDrug.push(divDrug.children[0].textContent);
			              }
			              
			          }
			          const filterredDrug=textContentDrug.filter(function (elem) {
			             return elem.toString().toLowerCase().indexOf(valueDrug) > -1;
			          });
			          if (filterredDrug.length >0){
			              const tempData=[];
			              for(let j=0; j < filterredDrug.length; j++){
			                tempData.push(textArrayDrug[textContentDrug.indexOf(filterredDrug[j])])
			              }
			              self.filterredDrugBankData=tempData.join('; '); 
			          	  document.getElementById("drugBankInputData").innerHTML='';
			          	  document.getElementById("filterredDrugBankData").innerHTML=self.self.filterredDrugBankData;
			          } else{
			             self.filterredDrugBankData='Oopps. No result matched with your search criteria!';
			          	 document.getElementById("drugBankInputData").innerHTML='';
			          	 document.getElementById("filterredDrugBankData").innerHTML=self.filterredDrugBankData; 
			          }      
			        }
			        if (valueDrug.trim().length == 0){
			          document.getElementById("drugBankInputData").innerHTML=self.drugBankData;
			          document.getElementById("filterredDrugBankData").innerHTML='';
			        } 

			      };
			      
				</script>
			
			{% else %}
				There is no drug associated with protein..
			{% endif %}
		</div>
	</div>
{% endblock %}