   {% load staticfiles %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'js/canvas2svg.js' %}"></script>
    <script src="{% static 'js/jvenn.js' %}"></script>
    <script src="{% static 'js/jvenn.min.js' %}"></script>
    <script src="{% static 'jmol-14.6.4_2016.11.05/jsmol/JSmol.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/variance-noncommercial-standalone-f47ffcf.min.js' %}"></script>
    <script src="{% static 'js/jquery-loading.js' %}"></script>
    
    <!-- <script src="{% static 'js/protvista.js' %}"></script> -->
    <!-- <script src="http://ebi-uniprot.github.io/CDN/protvista/protvista.js"></script> -->